pkgbase = athos
	pkgdesc = TUI for installing packages and creating webapp launchers on Arch Linux
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/RealThanosP/athos
	arch = any
	license = MIT
	depends = gum
	depends = fzf
	optdepends = yay
	source = athos
	source = athos-pkg-install
	source = athos-pkg-remove
	source = athos-pkg-aur-install
	source = athos-pkg-aur-remove
	source = athos-webapp-install
	source = athos-webapp-remove
	source = athos-launch-webapp
	source = athos-utils.sh
	source = logo.txt
	source = icon.png
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP

pkgname = athos
